body {
    background: #3A1400;
}

.canvas-container {
    background: #ccc;
    width: 1008px;
    height: 608px;
    margin: auto;
}

.kills {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	text-shadow: 1px 1px black;
}

.kills-blue {
	color: #4B4BFF;
}

.kills-red {
	color: #FF3737;
}

.selected-spell {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 10px;
	text-shadow: 1px 1px black;
}

.ui {
	text-align: center;
	margin-bottom: 10px;
}

.ui-wrapper {
	display: inline-block;
	background: #280E00;
	border-radius: 30px;
	padding: 10px;
	min-width: 160px;
	box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5), 2px 2px #511F00;
}